@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}

.fixed-button {
  position: fixed;
  background-color: rgba(96, 78, 255, 0.418);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(255, 255, 255, 0.486);
  width: 100%;
  height: 10%;
  bottom: 0%; /* 화면 하단에 자연스럽게 위치하도록 조절 */
  left: 50%; /* 가로 중앙에 위치 */
  transform: translateX(-50%);
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.gradationRoot{
  position: absolute;
  width: 400px;
  height: 800px;
  overflow-x: hidden
}
.gradation{
position: absolute;
left: 50px;
top: 90px;
width: 500px;
height: 500px;

background: radial-gradient(50% 50% at 50% 50%, #28268F 37.74%, rgba(217, 217, 217, 0) 100%);
opacity: 0.5;
filter: blur(50px);

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
